
     body {
        font-family: 'Nunito', sans-serif;
        width: 100%;
        background-color: #F8F8F8;
        height: 900px;
        display: flex;
        flex-direction: row;
        margin: 0px;
    }
    
    .sidebar-menu {
        /* width: 270px; */
        width: 17%;
        height: 900px;
        position: fixed;
        border-right: 1px solid rgba(0, 0, 0, 0.205);
    }
    /* ava set */
    .ava-set {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 90px;
        height: 200px;
        line-height: 0.6;
        margin-bottom: 30px;

    }
    
    .ava-set h4{
        color:#3F3D40;
    }
    
    .ava-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 10px;
    }
    
    .nick-name {
        font-size: 18px;
        color: #1d2129;
    }
    
    .real-name {
        margin-bottom: 0.5px;
        font-size: 18px;
        color: #1d2129;
    }
    
    /* menu options */
    .menu-element {
        height: 50px;
        width: 100%;
        color:#1d2129 ;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .menu-element h3 {
        margin-left: 20px;
        text-transform: uppercase;
        line-height: 50px;
        font-size: 16px;
        font-weight: bold;
    }
    
    .menu-element svg {
        width: 21px;
        margin-left: 35px;
        fill: rgb(153, 152, 152);
    }
    
    .menu-element:hover {
        background-color: #a93f48;
        border-radius: 15px;
        color: white ;
        /* box-shadow: -5px -8px 20px rgb(212, 212, 212),
        5px 8px 20px rgb(158, 158, 158); */
        box-shadow: -5px -8px 20px rgba(211, 211, 211, 0.733),
        5px 8px 20px rgba(179, 179, 179, 0.747); 
        transition: .4s;
    }
    
    .menu-elements-conatainer {
        padding-bottom: 25px;
    }
    
    .menu-elements-conatainer h3{
        color: #3F3D40;
    }

    .content {
        width: 20%;
        /* margin-left: 17%; */
    }
    
    .fixed-top-menu {
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: fixed;
        background-color: #a93f48;
    }
    
    .message-icon {
        fill:#6b6b6b;
        margin-left: 20px;
        width: 27px;
    }
    
    .noti-icon {
        margin-left: 40px;
        fill:#6b6b6b ;
        width: 27px;
    }
    
    .fixed-top-menu input {
        width: 450px;
        height: 30px;
        border-radius: 15px;
        border-width: 0;
        margin-left: 40%;
        padding-left: 40px;
        color: #6b6b6b ;
        outline: none;
    }
    
    .fixed-top-menu input:focus{
        box-shadow: -5px -8px 20px rgba(247, 246, 246, 0.733),
        5px 8px 20px rgba(235, 235, 235, 0.747);  
        transition: .4s;
    
    }
    
    
    #playlists {
        display: flex;
        flex-flow: column;
        /* margin-right:2000px ; */
        padding-top: 50px;
        background-color: #E4E4E9;
        
    }

    #title {
        display: flex;
        justify-content: space-between;
        width: 1260px;
        align-items: center;
    }
    
    #title h2{
        color:#3F3D40;
    
    }

    #music {
        display: flex;
        justify-content: space-evenly;
        background-color: white;
        border-radius: 27px;
        padding-right: 20px;
        padding-left: 20px;
    }
    

    

    .song {
        display: flex;
        align-items: center;
        padding: 10px;
        flex-flow: column;
    }
    
    .song h3 {
        margin-top:5px;
        margin-bottom: 0px;
        color: #3F3D40;
    }
    
    .song img {
        width: 150px;
        height: 150px;
        border-radius: 10px;
        object-fit: cover;
    }
    
    #m4in {
        display: flex;
        justify-content: space-around;
    }
    
    #others {
        display: flex;
        flex-flow: column;
        background-color: white;
        /* width: 360px; */
        margin-top: 30px;
        border-radius: 28px;
        /* margin-left : 0px; */
        }
    
    
    
    #musicAndMore {
        display: flex;
      
      align-items: center;
      /* width: 600px; */
    }
    
    #musicAndMore h2 {
        color: #3F3D40;
    }
    
    #lotOfSongs {
        display: flex;
      flex-flow: column;
      /* width: 600px; */
    
    }
    
    .soong{
        width: 200px;
        
      display: flex;
    align-items: center;
        border-radius: 27px;
        margin: 5px;
    }
    
    .soong img {
        height: 50px;
        width: 50px;
        margin-right: 20px;
        border-radius: 26px;
    } 
    
    .soong h3 {
        margin-top :0px;
        margin-bottom: 0px;
        color: #3F3D40;
    }
    
    #hAvx {
        margin-top: 50px;
        
    }
    
    #hobbies {
        /* display: inline; */
        /* width: 340px; */
        background-color: white;
        border-radius: 28px;
        padding-top :20px;
    }
    
    #hobbies h2{
        color: #3F3D40;
    }

    #hobbies h4 {
        color: #3F3D40;
    }

    #hobbies p {
        color: #3F3D40;
    }

    .hobby {
        /* display: flex;
        background-color: #a93f48; */
        border-radius: 20%;
        margin: 10px;
        /* padding: 20px; */
    
    }
    
    #request {
        margin-top: 30px;
        border-radius: 28px;
        background-color: white;
    }

    #request h2{
        color:#3F3D40;
    }
    
    #request h3{
        color:#3F3D40;
    }

    .person {
        display: flex;
        
        border-radius: 26px;
        margin: 10px;
    
    }
    
    .person img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 5px;
        
    }
    
    .person h3 {
        margin-top: 14px;
        margin-bottom: 0px;
    }
    
    #y-n-i{
        display: flex;
        justify-content: space-around;
    }
    
    #y-n-i svg {
        width: 40px;
    }
    
    .v {
        fill: green;
        border-radius: 28px;
        background-color: white;
        padding-right: 50px;
        padding-left: 50px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    
    .x {
        fill: red;
        border-radius: 28px;
        background-color: white;
        padding-right: 50px;
        padding-left: 50px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    