#body {
	display: flex;
	align-items: center;
	flex-flow: column;
	margin-top: 100px;
	margin-left: 225px;
}

#tabs {
	margin: 20px;
	display: flex;
	width: 900px;
}

.nav-tabs .nav-link {
	border-radius: 15px;
	color: black;
}

.collabPlaylist {
	display: flex;
	width: 900px;
	height: 300px;
	align-items: center;
	background-color: rgb(255, 255, 255);
	border-radius: 15px;
}

.collaborators {
	display: flex;
	flex-flow: column;
	justify-content: center;
	width: 250px;
	height: 300px;
	border-right: 1px solid rgba(206, 205, 205, 0.719);
}

.collaboratorIn4 {
	display: flex;
	align-items: center;
	flex-flow: column;
}
.collabProfile {
	width: 100px;
	height: 100px;

	border-radius: 10px;
}
.collabName {
	margin: 20px;
}
#currentWork {
	margin: 20px;
}

.songs {
	display: flex;
	flex-flow: column;
	width: 600px;
	margin: 30px;
	margin-left: 35px;
}

.song {
	width: 580px;
	height: 50px;
	display: flex;
	align-items: center;
	margin: 2px;
}

.songCover {
	width: 40px;
	height: 40px;
	margin: 10;
	border-radius: 5px;
	margin: 20px;
}

.songIn4 {
	display: flex;
	flex-flow: column;
}

.songArtist {
	font-size: 10px;
}

.showMore {
	background-color: indianred;
	color: white;
	border-radius: 15px;
}

.dash {
	width: 900px;
}

#collabList {
	display: flex;
	flex-flow: column;
	margin: 20px;
}
