#body {
	display: flex;
	align-items: center;
	flex-flow: column;
	margin-top: 100px;
	margin-left: 225px;
}



#tabs {
	margin: 20px;
	display: flex;
	width: 900px;
}

.nav-tabs .nav-link {
	border-radius: 15px;
	color: black;
}


