#body {
	background-color: #68262f17;
}

#menu_button {
	height: 75px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 1rem;
}

.button {
	border-color: rgba(165, 42, 42, 0);
	font-family: "Nunito", sans-serif;
	color: rgb(165, 42, 42);
	font-weight: 600;
	font-size: x-large;
}

#banner {
	width: 100%;
	image-rendering: pixelated;
bo
}

.slice_2 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Nunito", sans-serif;
}

.header_2 {
	font-family: "Nunito", sans-serif;
	display: flex;
	padding-bottom: 50px;
	align-items: center;
	justify-content: center;
	font-size: 50px;
	font-weight: 800;
	color: #68262f;
}

#mycarousel {
	width: 1000px;
	height: 100%;
	justify-items: center;
}

.img_tv {
	height: 400px;
	width: 400px;
	border-radius: 100px;
	display: flex;
}

.human1 {
	display: flex;
	flex-direction: row;
	padding-left: 60px;
}
.human {
	display: flex;
	flex-direction: row;
	padding-left: 60px;
	padding-top: 100px;
}

.human2 {
	display: flex;
	flex-direction: row-reverse;
	padding-right: 60px;
	padding-top: 100px;
}

.header_human {
	font-weight: bolder;
	font-size: x-large;
	font-family: "Nunito", sans-serif;
}

.text {
	padding-right: 30px;
	padding-left: 30px;
}

#Thành_viên {
	width: 90%;
	display: flex;
	flex-direction: column;
	padding-left: 100px;
}


/* scroll ball */
body::-webkit-scrollbar {
	width: 5px;
}

body::-webkit-scrollbar-track {
	background: #f1f1f1; 
}

body::-webkit-scrollbar-thumb {
	background: #888; 
	border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }